#header
    .top-wrapper.container
        .row
            .logo.col-lg-4.col-md-4.col-sm-4
                h2
                    a(href='/') Logosome
            .links.col-lg-8.col-md-8.col-sm-8
                a#signIn1.btn.btn-default(href='/login', role='button') Sign In
                =  ' '
                a#signUp1.btn.btn-warning(href='/register', role='button') Sign Up